<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Rosy's Resources</h1>
    <hr>
    <h4>Don't know where to start? Let us help!</h4>
  </div>
</div>

<!-- CATEGORIES -->
<div id="categories">
  <div class="container">
    <div class="row justify-content-start">
      <div class="cards-list">
        <% @sections.each do |section| %>
          <div class="card">
            <div class="card_image"> <img src="https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" /> </div>
            <div class="card_title title-white">
              <h5 class="card-title title"><%= section.title %></h5>
              <p class="card-text sub-card-text">
                <%= section.description %>
                <%= section.tag_list %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br />

<!-- SUGGESTED WEBSITES (3) -->
<h1>Our Suggestions for Beginners</h1>
<hr />
  
  <div class="container">
    <div class="row justify-content-start">
      <div class="card-flip-container">
        <div class="card-flip">
          <div class="front-flip"><p>Front</p></div>
          <div class="back-flip"><p>Back</p></div>
        </div>
      </div>
      <div class="card-flip-container">
        <div class="card-flip">
          <div class="front-flip"><p>Front</p></div>
          <div class="back-flip"><p>Back</p></div>
        </div>
      </div>
      <div class="card-flip-container">
        <div class="card-flip">
          <div class="front-flip"><p>Front</p></div>
          <div class="back-flip"><p>Back</p></div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<br />
<br />


<!-- FEATURED WEBSITE -->
<div id="feature">
  <h1>Or check out this randomly selected site!</h1>
  <hr />
    <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Learning to Code</h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
</div>

<hr />

<!-- ABOUT SECTION -->
<div id="about">
  <h1>About Us</h1>
  <hr />
  <p class="bio">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
</div>