html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 70px;
  background-color: #757575;
  color: white;
  Font-Family: 'Poppins', Sans-Serif;
  padding: 10px 0px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 100;
}

#footer a {
  color: #ffe0b2;
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}