html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 70px;
  background-color: #757575;
  color: white;
  Font-Family: 'Poppins', Sans-Serif;
  padding: 10px 0px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 100;
}

#footer a {
  color: #ffe0b2;
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

#hr-footer {
  border: none;
  height: 8px;
  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
  background-color: #fff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}